.usersPaginator{
    text-align: center;
    margin-top: 10px;
}

.userList{
    padding-left:20px;
}

.user {
    margin-top: 10px;
}

.userPhoto {
    margin: 10px 0 10px 0;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

