.sendButton {
    height: 40px;
    width: 120px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    background: #ff9133;
    box-shadow: 0 -3px #f57100 inset;
    transition: 0.2s;
}
.sendButton:hover { background: #f57100; }
.sendButton:active {
    background: #eb9347;
    box-shadow: 0 3px #dd8c00 inset;}