.addMessageForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.addMessageField {
    height: 50px;
    width: 300px;
    border-width: 3px;
    border-color: #ff9133;
    border-radius: 2px;
}