
.bfavatar {
    height: 40px;
    width: 40px;
}
.bfavatar img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.friends a{
    margin-top: 25px;
    color: black;
    padding-left: 20px;
    font-family: Arial;
    font-size: 30px;
    text-decoration: none;
}
.friends a.active{
    text-decoration: underline;
}
.friends {
    margin-top: 20px;
}
.bfelement {
    margin: 0;
}
.bfname {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}
.bestfriends {
    margin-top: 10px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 70px 70px 70px;

}


