
.descriptionBlock {
    display: flex;
    padding: 20px;
}
.description{
    margin-left: 150px;

}
.avatar {
    height:150px;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: aliceblue;
    background-color: aliceblue;
}

.contact img {
    height: 15px;
    padding: 5px 5px 0px 5px;
}