
.descriptionBlock {
    display: flex;
    padding: 20px;
}
.description{
    margin-left: 100px;

}
.avatar {
    height:250px;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: aliceblue;
    background-color: aliceblue;
}

.fullName {
    font-size: 30px;
    font-weight: 600;
    font-family: "Arial";
}

.aboutMe {
    margin-top: 20px;
}

.contacts {
    margin-top: 20px;
}

.contact img {
    height: 15px;
    padding: 5px 5px 0px 5px;
}

.job {
    margin-top: 20px;
}

.status {
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.status:hover {
    background-color: #ffb270;
}