
.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}
.loginButton{
    height: 40px;
    width: 120px;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    background: aquamarine;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.loginButton:hover { background: rgb(53, 167, 110); }
.loginButton:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}