
.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
    border: 2px solid red;
}

.formSummaryError {
    border: 2px solid red;
    padding: 5px;
    color: #fa7b0f;
}

.form {
    margin-top: 5px;
    border-style: solid;
    border-color: #ff9133;
}

