
.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}
.loginButton,.logoutButton {
    height: 40px;
    width: 120px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    background: #ff9133;
    box-shadow: 0 -3px #f57100 inset;
    transition: 0.2s;
}
.loginButton:hover, .logoutButton:hover { background: #f57100; }
.loginButton:active, .logoutButton:active {
    background: #eb9347;
    box-shadow: 0 3px #dd8c00 inset;
}

