.appWrapper {
    margin: 0 auto;
    display: grid;
    width: 90%;
    min-height: 720px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.appWrapperContent {
    grid-area: c;
    background-color: whitesmoke;
    border-radius: 5px;
}